@font-face {
  font-family: MontserratExtraBold;
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontserratThin;
  src: url(../fonts/Montserrat-Thin.ttf);
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0D1117;
  height: 100%;
}

#wrap {
  min-height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #161B22;
  margin: 0 0 48px 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 37px;
}

.header-title {
  font-family: MontserratExtraBold;
  font-size: 48px;
  color: white;
  padding: 32px;
}
.header-title span {
  color: #1C78BB;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.main-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-input input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: MontserratMedium;
  font-size: 22px;
  color: #b4bcc6;
  width: 100%;
  height: 50px;
  padding: 35px;
  background-color: transparent;
  border: 2px solid #42464b;
  border-radius: 12px 0 0 12px;
}
.main-input input::-webkit-input-placeholder {
  color: #2d3033;
}
.main-input input::-moz-placeholder {
  color: #2d3033;
}
.main-input input:-ms-input-placeholder {
  color: #2d3033;
}
.main-input input::-ms-input-placeholder {
  color: #2d3033;
}
.main-input input::placeholder {
  color: #2d3033;
}
.main-input button {
  font-family: MontserratExtraBold;
  font-size: 22px;
  color: white;
  background: linear-gradient(45deg, #1C78BB, #072079);
  width: 20%;
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

footer {
  background-color: #161B22;
  margin-top: -37px;
  height: 37px;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 74px;
  border-radius: 12px;
  margin: 48px 0 48px 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92%;
  background-color: #072079;
  border-radius: 12px;
}
.card .card-title {
  font-family: MontserratextraBold;
  color: white;
  font-size: 24px;
}
.card .card-value {
  font-family: MontserratMedium;
  color: gray;
  font-size: 22px;
}

.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74px;
  height: 74px;
  background-color: #072079;
  border-radius: 12px;
}
.check-box .check-img {
  width: 65%;
  height: 65%;
}